<div class="layer">
<div class="page-header">
  <h1><%=@name %></h1>
</div>
 <div class="btn-group">
  <%= button_to("Fetch json", { action: "fetch_form_json", name: @name}, class: "btn btn-secondary", method: :get)%>
  <%= button_to("Fetch graph", { action: "fetch_form_json", name: @name}, class: "btn btn-secondary", method: :get)%>
  <%= button_to("Delete", { action: "index" }, class: "btn btn-secondary", data: {confirm: "Are you sure?", confirm_proceed: "Disconnect"}, method: :get)%>
</div>

<hr class="col-xs-12">
<% @descr.each do |descr| %>
  <%= descr %> <br>
<%end %>
</div>